.stories {
  padding-top: 60px;
  margin-left: 100px;
  margin: 0 auto;

  &__main {
    width: 700px;
  }

  &__name {
    font-size: 16px;
    color: #000;
    margin-bottom: 4px;
  }

  &__data {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.767);
  }

  &__title {
    font-weight: 600;
    font-size: 26px;
    color: #000;
    margin-bottom: 10px;
  }

  &__listing {
    height: 950px;
    overflow-y: scroll;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }
  &__pub {
    color: #757575;
    font-size: 14px;
    &:nth-child(1) {
      margin-right: 15px;
    }
    &:nth-child(2) {
      margin-right: 18px;
    }
  }
  &__ikon {
    border: none;
    background-color: transparent;
    font-size: 22px;
  }
  &__links {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 35px;  
    border-bottom: 1px solid #e6e6e6;
  }
  &__text {
    margin-right: 35px;
    color: #757575;
  }

  &__titles {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
  }
  &__btns {
    display: flex;
    align-items: center;
  }
  &__btn {
    width: 120px;
    height: 38px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
    background: rgba(26, 137, 23, 1);
  }
  &__button {
    width: 130px;
    height: 38px;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 16px;
    background-color: transparent;
  }
}

.bx-upload {
  margin-right: 15px;
}